<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #registroForm="ngForm">
    <ion-card>
      <ion-card-header class="ion-text-center icon-header">
        <div class="icon-wrapper">
          <ion-icon name="person-add" class="main-icon"></ion-icon>
        </div>
        <ion-card-title>Crear cuenta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input
            type="email"
            name="email"
            [(ngModel)]="data.email"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            type="password"
            name="password"
            [(ngModel)]="data.password"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input
            type="password"
            name="confirmPassword"
            [(ngModel)]="data.confirmPassword"
            required
          ></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          class="ion-margin-top"
          (click)="register(registroForm)"
          >Registrarse</ion-button
        >
        <ion-button expand="block" fill="clear" (click)="loggear()"
          >Ya tengo una cuenta</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
